/**
  https://getbootstrap.com/docs/5.0/utilities/colors/
*/

$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;

$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

/* https://www.schemecolor.com/pastel-gradient.php */

$baby-blue-eye: #96caf7;
$vodka: #bfb2f3;
$turquoise-green: #9cdcaa;
$cookies-and-cream: #e5e1ab;
$desert-sand: #f3c6a5;
$mauvelous: #f8a3a8;

/* https://www.schemecolor.com/bright-green-web.php */

$dirty-white: #e1eec7;
$ryb-green: #61b136;

$intensity: 1;

$primary: rgba($blue, $intensity);
$secondary: rgba($gray-600, $intensity);
$success: rgba($green, $intensity);
$info: rgba($cyan, $intensity);
$warning: rgba($yellow, $intensity);
$danger: rgba($red, $intensity);
$light: rgba($gray-100, $intensity);
$dark: rgba($gray-900, $intensity);

$colors: (
  'blue': $blue,
  'indigo': $indigo,
  'purple': $purple,
  'pink': $pink,
  'red': $red,
  'orange': $orange,
  'yellow': $yellow,
  'green': $green,
  'teal': $teal,
  'cyan': $cyan,
  'white': $white,
  'gray': $gray-600,
  'gray-dark': $gray-800,
);

$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'success': $success,
  'info': $info,
  'warning': $warning,
  'danger': $danger,
  'light': $light,
  'dark': $dark,
);

$grays: (
  '100': $gray-100,
  '200': $gray-200,
  '300': $gray-300,
  '400': $gray-400,
  '500': $gray-500,
  '600': $gray-600,
  '700': $gray-700,
  '800': $gray-800,
  '900': $gray-900,
);
