.content {
  display: flex;
  flex-direction: column;
  gap: 24px;

  & .body {
    display: flex;
    gap: 32px;

    & .left {
      flex: 1;
      display: flex;
      flex-direction: column;
      // gap: 24px;

      h2 {
        padding-bottom: 8px;
        border-bottom: 1px solid $dark;
        color: $black;
      }

      & > *:not(:last-child) {
        margin-top: 24px;
      }

      & > *:first-child {
        margin-top: 0;
      }
    }
  }
}

@media print {
  .content {
    gap: 8px;

    .body .left {
      & > *:not(:last-child) {
        margin-top: 16px;
      }
      & > *:first-child {
        margin-top: 0;
      }
    }
  }
}
