.educations {
  display: flex;
  flex-direction: column;
  gap: 12px;

  & ul {
    list-style-type: none;

    & li {
      margin: 8px 0;
    }
  }
}
.education {
  display: flex;
  gap: 16px;

  &-year {
    color: $black;
  }
}
