.experiences {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.experience {
  display: flex;
  flex-direction: column;
  // align-items: center;
  // justify-content: center;
  gap: 8px;

  &-header {
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: space-between;
    gap: 8px;
    color: $black;

    & .experience-title {
      display: flex;
      flex-direction: column;
      gap: 4px;
      color: $black;
    }

    .experience-date {
      h6 {
        white-space: nowrap;
      }
    }
  }

  &-body {
    display: flex;
    flex-direction: column;
    // gap: 8px;
    color: $black;

    & p {
      line-height: normal;
      color: $black;
    }

    & ul {
      list-style-type: none;

      & li {
        margin: 8px 0;

        &:before {
          content: '-';
          padding-right: 5px;
        }

        & a {
          color: $black;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .experience-header {
    flex-direction: row;
  }
}

@media print {
  .experience-header {
    flex-direction: row;
  }
}
