.files {
  h4 {
    margin-bottom: 16px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: flex;
      gap: 8px;
      margin: 8px 0;

      a {
        text-decoration: none;
        color: $black;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

@media print {
  .files {
    display: none;
  }
}
