.footer {
  max-width: 1150px;
  margin: 0 auto;
  margin-top: 48px;
  padding: 48px 16px;
  border-top: 1px solid $black;
  font-family: 'Roboto', sans-serif;
  background-color: $white;
  color: $black;
  text-align: center;
  font-size: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media print {
  .footer {
    display: none;
  }
}

.made-with-react {
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: $black;
  text-decoration: none;
  .external-link {
    color: $black;
  }

  &:hover {
    text-decoration: underline;
    .external-link {
      color: $black;
    }
  }
}
