.header {
  display: flex;
  flex-direction: column;
  // gap: 8px;
  // background-color: $primary;
  // border: 1px solid $black;
  background-color: $white;

  // padding: 16px 0;
  // border-radius: 4px;
  color: $black;

  .title {
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .item {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    a {
      text-decoration: none;
      color: $black;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  h1 {
    margin-bottom: 16px;
  }

  h3 {
    font-size: 1.5rem;
  }
}

.emphasis {
  color: $black;
  font-style: oblique;
}

@media print, screen and (min-width: 768px) {
  .header {
    .title {
      flex-direction: row;
    }

    h1 {
      margin-bottom: 0;
    }
  }
}
