html {
  // font-family: 'Roboto', sans-serif;
  font-family: 'Merriweather', serif;
  font-size: 16px;
}

@media print {
  html {
    font-size: 10pt;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather', serif;
}

em {
  font-style: italic;
}

hr {
  background-color: $black;
  height: 1px;
  width: 100%;
  border: none;
  padding: 0;
  margin: 0;
}

strong {
  font-weight: 700;
}

.wrapper {
  // width: 100%;
  max-width: 1150px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 16px;
  // padding-bottom: 64px;
  box-sizing: border-box;
  background-color: $white;
}

@media print {
  .wrapper {
    padding: 0;
    background: none;
  }
}
