.print-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;

  button {
    cursor: pointer;
    background-color: $gray-700;
    border: none;
    // border-radius: 4px;
    font-size: 18px;
    color: $white;
    padding: 8px 16px;
    transition: all 300ms ease-in-out;
    display: flex;
    align-items: flex-start;
    gap: 8px;

    .icon {
      color: $turquoise-green;
    }

    &:hover {
      background-color: $black;
      color: $white;

      & .icon {
        color: $black;
      }
    }
  }
}

@media print {
  .print-button {
    display: none;
  }
}
