.sidebar {
  // background-color: $primary;
  // border-left: 1px solid $red;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  // align-items: center;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .sidebar {
    max-width: 200px;
  }
}

@media print {
  .sidebar {
    max-width: 200px;
  }
}

.profile-picture {
  object-fit: cover;
  // border-radius: 8px;
  object-position: top;
}
