.sections {
  display: flex;
  flex-direction: column;
  gap: 16px;

  & > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
  }

  & .section {
    display: flex;
    flex-direction: column;
    gap: 8px;

    h4 {
      color: $black;
    }

    & > ul {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
    }

    .item {
      // background-color: $black;
      border: 1px solid $black;
      width: fit-content;
      // margin: 4px 4px 0;
      // border-radius: 4px;

      a {
        display: block;
        padding: 4px 8px;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        color: $black;
        font-size: 14px;
        font-weight: 500;
        transition: all 150ms ease-in-out;

        &:hover {
          background-color: $black;
          color: $white;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .sections {
    display: flex;
    flex-direction: column;
    gap: 16px;
    & > ul {
      flex-direction: column;
    }

    .section {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }
}
