.socials {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-top: 48px;

  & ul {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;

    li {
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }

      a {
        color: $black;
        text-decoration: none;
        &:hover {
          color: $black;
          text-decoration: underline;
        }
      }

      .item {
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .socials {
    font-size: 16px;
    margin-top: 32px;
    gap: 8px;
  }
}

@media print {
  .socials {
    font-size: 10pt;
    margin-top: 16px;
    gap: 6px;

    // ul {
    //   flex-direction: row;
    //   justify-content: space-around;
    //   align-items: center;
    // }
  }
}
